{% extends 'website/base.html' %} 

{% load static %}

{% block head %}
<title>FLORIN</title>
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/index.css' %}" />
{% endblock head %} 



{% block header %}
<div id="header" class="row justify-content-between">
    <div id="menu-box" class="col-2">
        <button id="desktop-portfolio-btn" class="portfolio-btn">
            <span id="desktop-chevron" class="fa fa-chevron-left"></span>
        </button>
        <button id="mobile-portfolio-btn" class="portfolio-btn">
            <span id="mobile-chevron" class="fa fa-chevron-down"></span>
        </button>
    </div>
    <div id="title" class="col-5">
        <h1>FLORIN</h1>
    </div>
    <div id="user-dropdown" class="col-5">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                User Name 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button">Theme 1</button>
                <button class="dropdown-item" type="button">Theme 2</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sign Out</a>
            </div>
        </div>
    </div>
</div>
{% endblock header %} 

{% block content %}
<div id="portfolio-tab" class="pane">
    <div id="portfolios">
        <h1>Favourites Tab</h1>
    </div>
</div>
<div id="message-board" class="pane">
    <h1>This is the content!</h1>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'chatbot/js/portfolio_dropdown.js' %}"></script>
{% endblock scripts %}