{% extends 'website/base.html' %} 

{% load static %}

{% block head %}
<title>FLORIN</title>
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/index.css' %}" />
{% endblock head %} 



{% block header %}
<div id="header" class="row justify-content-between">
    <div id="menu-box" class="col-9">
        <button id="desktop-portfolio-btn" class="portfolio-btn">
            <span id="desktop-chevron" class="fa fa-chevron-left"></span>
        </button>
        <button id="mobile-portfolio-btn" class="portfolio-btn">
            <span id="mobile-chevron" class="fa fa-chevron-down"></span>
        </button>
        <h1>FLORIN</h1>
    </div>
    <div id="user-dropdown" class="col-3">
        <div class="dropdown">
            <button id="drp-btn" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Options 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div id="themes">

                </div>
                <div class="dropdown-divider"></div>
                <a id='logout-lnk' class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
            </div>
        </div>
    </div>
</div>
{% endblock header %} 

{% block content %}
<div id="portfolio-tab" class="pane">
    <div id="portfolios">
        <h2>Portfolio</h2>
    </div>
</div>
<div id="message-board" class="pane">
    <div id="messages">
        <div id="javascript-warning" class="message">
            <h3>FLORIN</h3>
            <p>Woah there, something feels different...</p>
            <p>Are you sure javascript is turned on?</p>
        </div>
    </div>
    <div id="message-input">
        <form id="message-form" action="ask_chatbot/" method="post">
            {% csrf_token %}
            <input type="text" id="message-txt" name="query" autocomplete="off" 
                placeholder="Hi there! What would you like to know?">
            <button id="submit-btn" type="submit" class="btn msg-form-btn">
                    <i class="fa fa-arrow-circle-up fa-lg"></i>
            </button>
            <button id="speech-btn" class="btn msg-form-btn">
                    <i class="fas fa-microphone fa-lg"></i>
            </button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script>
        var username = "{{ user.get_username }}";
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script src="{% static 'chatbot/js/portfolio_dropdown.js' %}"></script>
    <script src="{% static 'chatbot/js/ajax_setup.js' %}"></script>
    <script src="{% static 'chatbot/js/message_handler.js' %}"></script>
    <script src="{% static 'chatbot/js/theme_handler.js' %}"></script>
    <script src="{% static 'chatbot/js/speech_recognition.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" 
        integrity="sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=" 
        crossorigin="anonymous">
    </script>
{% endblock scripts %}