/*
    set the colours for the colour scheme
*/
:root {
    --header-bg-colour:  #17252A;
    --header-fg-colour: #FEFFFF;
    --body-bg-colour: #3AAfA9;
    --body-fg-colour: #DEF2F1;
    --accent-colour: #2B7A78;
    --border-colour: #000000;
    --btn-colour: #17252A;
}

/*
    make sure the page streches to the bottom of the window
    and set the body colour to black (this is so the javascript
    code can identify what device it is being viewed on
*/
html, body {
    height: 100%;
    background-color: #000000;
}

* {
    font-family: 'Overpass', sans-serif;
}

a {
    color: var(--body-fg-colour) !important;
}

/*
    if the device is being viewed on a small screen (aka mobile)
    slightly change the background colour
*/
@media only screen and (max-width: 768px){
    html {
         background-color: #111111; 
    }
}

/*CSS Rules for the header*/

#header {
    background-color: var(--header-bg-colour);
    border-bottom: 1px solid var(--border-colour);
    color: var(--header-fg-colour);
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    height: 5em;
}

#menu-box > h1 {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 5px;
    margin-bottom: 0;
}

.portfolio-btn {
    background-color: var(--header-bg-colour);
    color: var(--header-fg-colour);
    border: none;
    font-size: 1.5em;
}

/*
    hide the desktop button if being viewed on a mobile device
*/
@media only screen and (max-width: 768px){
    #desktop-portfolio-btn {
        display: none;
    }
}

/*
    hide the mobile button if being viewed on a mobile device
*/
@media only screen and (min-width: 768px){
    #mobile-portfolio-btn {
        display: none;
    }
}

#user-dropdown {
    text-align: right;
    padding-top: 8px;
    padding-left: 0;
    width: inherit;
    border: none;
}

#drp-btn {
    background-color: var(--header-bg-colour);
    color: var(--header-fg-colour);
}

#drp-btn:focus, #drp-btn:active{
    outline: none;
    box-shadow: none;
}

/*CSS Rules for the Body*/

.content {
    background-color: var(--body-bg-colour);
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5em;
}

.pane {
    display: inline-block;
}

#portfolio-tab {
    background-color: var(--accent-colour);
    height: 100%;
    display: none; /*set this so that the portfolio is closed by default*/
    position: absolute;
    z-index: 10;
    float: top;
    width: 100%;
    padding: 10px;
}


/*
    On a desktop type screen, the portfolio tab should open from the
    side and not take up all the width - so the height, width, and
    position are changed.
*/
@media only screen and (min-width: 768px) {
    #portfolio-tab {
        height: 100%;
        width: 30%;
        position: relative;
        border-right: 1px solid var(--border-colour);
        float: left; /* needed otherwise message board does funky things on slide */
        display: inline-block;
    }
}

#portfolios {
    height: 100%;
}

#message-board {
    background-color: var(--body-bg-colour);
    color: var(--body-fg-colour);
    height: 100%;
    width: 100%;
    padding: 10px;
}

#messages::-webkit-scrollbar { 
    display: none; 
}

/*
    If on a desktop, change the width to 68% so that the message
    board can be inline with the open portfolio tab.
*/
@media only screen and (min-width: 768px) {
    #message-board {
        width: 68%;
    }
}

/*CSS For the Message Board*/

#messages {
    height: 85%;
    text-align: center;
    overflow-y: scroll;
}

#message-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: inherit;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    padding-right: 2%;
    border-radius: .25em;
    height: 4em;
}

#message-form > * {
    padding: 0.2em;
}

#message-txt {
    width: 78%;
    border-radius: .25em;
    border: 0.5px solid var(--border-colour);
}

.msg-form-btn {
    border: none;
    margin-left: 2%;
    background-color: var(--body-bg-colour);
    color: var(--btn-colour);
}

/*CSS For the Messages*/
.message {
    width: inherit;
    margin: 1em;
    border-bottom: 1px solid var(--accent-colour);
    font-size: 1em;
    text-align: left;
    background-color: var(--accent-colour);
    border-radius: 10px;
    padding: 10px;
}

.user-message {
    text-align: right;
}

#speech-box {
    padding-right: 30px;
}

.news-holder {
    padding-bottom: 10px;
}

.news-img {
    width: 128px;
    max-width: 100%;
    margin: 5px;
    height: auto;
}

/*
    if on a desktop give the collumns a side border
*/
@media only screen and (min-width: 768px) {
    .news-desc {
        border-left: 1px solid var(--body-bg-colour);
    }

    .chart-holder {
        border-right: 1px solid var(--body-bg-colour);
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .news-img-holder {
        text-align: center;
    }
}

canvas {
    background-color: var(--header-bg-colour);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    canvas {
        margin-bottom: 20px;
    }
}

/*
    this needs to ge here to override the link colouring from above
*/
#logout-lnk {
    color: black !important;
}