beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
Django==2.0.2
future==0.16.0
idna==2.6
lxml==4.1.1
nltk==3.2.5
numpy==1.14.1
pandas==0.22.0
pandas-datareader==0.6.0
parsedatetime==2.4
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
six==1.11.0
urllib3==1.22
wrapt==1.10.11
MonthDelta==0.9.1
twython==3.6.0