{% extends 'registration/password_reset_base.html' %}

{% block content %}
<div class='container'>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label><br>
                {{ form.new_password1 }}</td><br>
                {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label><br>
                {{ form.new_password2 }}</td><br>
                <input type="submit" value="Change Password" />
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}