{% extends 'website/base.html' %}

{% block head %}
{% endblock head %}

{% block header %}
<div class='container'>
    <div class='page-header'>
        <h1>FLORIN - Password Reset</h1>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1><i class='fas fa-envelope'></i></h1>
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
</div>
{% endblock content %}
