{% load staticfiles %}
<html>

<head>
    {% block head %} {% endblock head %}
    <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="page-header">
        {% block header %} {% endblock %}
    </div>

    <div class="content container">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>